<h2>Hi <%= @user.first_name %> <%= @user.last_name %>!,</h2>

<p>
  You account has been deleted.<br/>
  We are sad to see you go, but that is life.<br/>
  Wherever you go and whatever you do, remember, help others and spread love.
</p>

<p>
  We wish you all the best, and hope to see you soon.
  The Helping Hand team
</p>