<h2>Hi <%= @request.user.first_name %> <%= @request.user.last_name %>,</h2>

<p>
  Your request '<%= @request.title %>' has expired.<br/>
  You have the option to seek for help again and republish this request.<br/>
  To do so, go to 'my requests' page, and click on more option on the said request, and select republish.
</p>

<p>
  Cheers,
  The Helping Hand team
</p>