<h2>Hi <%= @request.user.first_name %> <%= @request.user.last_name %>,</h2>

<p>
  Your request '<%= @request.title %>' has been marked as fulfilled.<br/>
  We hope that you had an enjoyable experience.
</p>

<p>
  Cheers,
  The Helping Hand team
</p>